FRONTEND_URL="http://localhost:7777"
PRISMA_ENDPOINT="yougottafillthisout"
PRISMA_SECRET="omgplzdonottellanyone"
APP_SECRET="jwtsecret123"
STRIPE_SECRET="sk_123youchanget his"
PORT=4444
MAIL_HOST="smtp.sample.com"
MAIL_PORT=2525
MAIL_USER="b3823d75857d7e"
MAIL_PASS="4273d12f6c8a59"